* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*a means for all anchor tag color will be white*/
a {
    color: white;
    text-decoration: none;
}

/*Here the code starts for header*/
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.child {
    display: flex;
    gap: 20px;
}

.para1 {
    font-size: 48px;
    font-weight: 900;
}

.para2 {
    color: rgb(178, 178, 178);
    margin-bottom: 20px;
}

.butt {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #1f2937;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.child-1 {
    width: 30vw;
}

/*Here the code ends for container 1 and header*/
/*Here the code starts for container 2 */
.container-2 {
    justify-content: space-evenly;
    gap: 40px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 10px;
    text-align: center;
}

.info-heading {
    color: #1f2937;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.child-3 {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
}

.container-2 img {
    width: 150px;
    border-radius: 4px;
}

/*Container 3 code starts*/
.container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 50px;
    text-align: center;
}

.para3 {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    /*adding this extra*/
    max-width: 60%;
    /* Restrict width for better readability */
    line-height: 1.5;
}

.para4 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    /*space between quote and author*/
    text-align: right;
    /*Aligns text to right side*/
    color: red;
}

/*Container 3 code ends*/